@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  color: white;
  font-family: "Roboto";
  font-style: normal;
}

body {
  background-color: black;
}
